    <div class="modal hidden">
      <button class="close-modal">&times;</button>
      <h3>My personal information</h3>
        <article>
            <div>
                <p>Username</p>
                <p class="test">{{ user.username }}</p>
            </div>
            <div>
                <p>Name</p>
                <p>{{ user.name }}</p>
            </div>
            <div>
                <p>Email</p>
                <p>{{ user.email }}</p>
            </div>
            <div>
                <p>Age</p>
                <p>{{ user.age }}</p>
            </div>
            <div>
                <p>Residence</p>
                <p>{{ user.residence}}</p>
            </div>
            <div>
                <p>Language</p>
                <p>{{ user.language }}</p>
            </div>
        </article>
    </div>
    <div class="overlay hidden"></div>